
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.info-div {
    color: white;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.navbar-default .navbar-nav > li > a {
    color: dodgerblue;
}

.navbar {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0px !important;
}

.jumbotron
{
    padding-left: 25px;
    color: dodgerblue;
    background-color: transparent;    
}

#user-avatar
{
    margin-top: -5px;
    border-color: aqua;
}

div.stretchy-wrapper {
	width: 100%;
	padding-bottom: 56.25%; /* 16:9 */
	position: relative;

	background: blue;
}

div.stretchy-wrapper > div {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;

	color: white;
	font-size: 24px;
	text-align: center;
}
