<ng-include src="'html/nav_bar.html'">
</ng-include>
<div class="jumbotron" ng-if="user.public.avatar" background-image-directive="{{user.public.avatar}}" min-height="300px">
    <h1>Dashboard</h1>
</div>

<div class="container">
    <div class="btn btn-default" ng-click="cancel_selected()">cancel selected</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="vert-align col-xs-1">
                    <input type="checkbox" ng-model="select_all" ng-click="check_all()">
                </th>
                <th class="col-xs-3">trainer</th>
                <th class="col-xs-3">time</th>
                <th class="col-xs-4">workout</th>
                <th class="col-sx-1">state</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(session_id, session_obj) in items">
                <td class="vert-align"> 
                    <input type="checkbox" ng-model="selection.session_ids[session_id]">
                </td>
                <td>{{session_obj.trainer.name}}</td>
                <td>{{session_obj.session.time | date}}</td>
                <td>{{session_obj.session.workout}}</td>
                <td>{{session_obj.session.state}}</td>
            </tr>
        </tbody>
    </table>
</div>

