<ng-include src="'html/nav_bar.html'">
</ng-include>
<div class="jumbotron" ng-if="user.public.avatar" background-image-directive="{{user.public.avatar}}" min-height="300px">
    <h1>trainer profile</h1>
</div>

<div class="container">
    <form class="form-horizontal" name="trainerForm" role="form" ng-submit="update_trainer(trainerForm.$valid)" novalidate>
        <div class="form-group has-feedback" ng-class="{'has-error': trainerForm.location.$invalid, 'has-success': trainerForm.location.$valid}">
            <label class="control-label col-sm-2">address</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="address" ng-model="user.trainer.location" ng-autocomplete="user.trainer.location" details="" options="{}" />
            </div>
        </div>        
        <div class="form-group has-feedback" ng-class="{'has-error': trainerForm.cover.$invalid, 'has-success': trainerForm.cover.$valid}">
            <label class="control-label col-sm-2">cover photo</label>
            <div class="col-sm-10">
                <input type="file" class="form-control" placeholder="cover photo" ng-model="user.trainer.cover"></input>
            </div>
        </div> 
        <div class="form-group" ng-repeat="(my_workout, my_price) in workout_types">
            <label class="control-label col-sm-2">{{my_workout}}</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" aria-label="..." ng-model="prices.enabled[my_workout]">
                    </span>
                    <input ng-disabled="!prices.enabled[my_workout]" type="number" step="0.01" class="form-control" placeholder="price" ng-model="user.trainer.prices[my_workout]"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" ng-disabled="trainerForm.$invalid">update trainer profile</button>
            </div>
        </div>
    </form>
    <pre>{{user.trainer.prices | json}}</pre>
    <pre>{{prices.enabled | json}}</pre>
</div>
